<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
var running = false;
var last_image = "";

function guid() {
    function s4() {
        return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
}

function refresh_thumbnail()
{
    document.images["thumbnail"].src = "/thumbnail/preview.jpg?" + guid();
}

function toggle_stepper()
{
    $.ajax({
        type: "GET",
        url: "toggle_stepper",
        success: refresh_status
    });
}

function set_home()
{
    $.ajax({
        type: "GET",
        url: "set_home",
        success: refresh_status
    });
}

function command(cmd)
{
    var interval = $("#timelapse_interval").val();
    var step = $("#timelapse_step").val();

    $.ajax({
        type: "POST",
        url: cmd,
        data: JSON.stringify({"step": step, "interval": interval}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: refresh_status
    });
}

function move(direction)
{
    var position = $("#move_position").val();
    var speed = $("#move_speed").val();

    $.ajax({
        type: "POST",
        url: "move", 
        data: JSON.stringify({position: position, speed: speed}), 
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: refresh_status
    });
}

function refresh_status()
{
    $.get("status", function(data, status) {
        $("#position").html(data["position"]);
        $("#state").html(data["state"]);
        $("#stepper").html(data["stepper"]);
        if (last_image != data["last_image"])
        {
            last_image = data["last_image"];
            document.images["thumbnail"].src = "/thumbnail/" + last_image;
        }
    });
}

$(document).ready(function() {
    refresh_status();
    setInterval(refresh_status, 1000);
});

</script>

<meta charset="UTF-8">
    <title>CamRail</title>
</head>
<body>

<div class="container">
    <div class="text-left">
        <table id="status" class="table">
            <tr>
                <td>Position</td>
                <td id="position"></td>
            </tr>
            <tr>
                <td>State</td>
                <td id="state"></td>
            </tr>
            <tr>
                <td>Stepper</td>
                <td id="stepper"></td>
            </tr>
        </table>

        <div>
            <img id="thumbnail" height="300" src="/thumbnail.jpg" />
        </div>
    </div>
</div>

<div class="container">
    <div class="text-left">
        <button type="button" class="btn btn-primary" onclick="refresh_thumbnail()">Preview</button>
        <button type="button" class="btn btn-primary" onclick="set_home()">Zero Rail</button>
        <button type="button" class="btn btn-primary" onclick="toggle_stepper()">Toggle Stepper</button>
    </div>
    <hr />
</div>


<div class="container">
    <div class="text-left">
        <div class="form">
            <label for="usr">Speed:</label>
                <input type="text" class="form-control" id="move_speed" value="100" style="width:100px">
            <label for="usr">Position:</label>
                <input type="text" class="form-control" id="move_position" value="50" style="width:100px">
        </div>

        <button type="button" class="btn btn-primary" onclick="move()">Move</button>

        <hr />

        <div class="form">
            <label for="usr">Timelapse Interval:</label>
                <input type="text" class="form-control" id="timelapse_interval" value="20" style="width:100px">
            <label for="usr">Timelapse Step:</label>
                <input type="text" class="form-control" id="timelapse_step" value="3" style="width:100px">
        </div>

        <div class="player" style="margin:10px">
            <button type="button" id="button_play" class="btn" onclick='command("start")'>
              <i class="fa fa-play"></i>
            </button>

            <button type="button" id="button_play" class="btn" onclick='command("pause")'>
              <i class="fa fa-pause"></i>
            </button>
            
            <button type="button" id="button_stop" class="btn" onclick='command("stop")'>
              <i class="fa fa-stop"></i>
            </button>

        </div>
    </div>
</div>

</body>
</html>
